@charset "UTF-8";
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans/GoogleSansBold.ttf") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans/GoogleSansMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans/GoogleSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-HeavyItalic.woff") format("woff");
  font-style: italic;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #272625;
}

body {
  font-family: "GoogleSans";
  font-weight: 400;
  color: #272625;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

.app {
  margin: 100px 0;
}

.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 960px) {
  .container {
    padding: 0 15px;
    max-width: 940px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1240px;
    padding: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1560px;
    padding: 0;
  }
}

.header {
  margin-bottom: 20px;
}

@media (min-width: 650px) {
  .header {
    margin-bottom: 40px;
  }
}

.filter-form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 960px) {
  .filter-form {
    flex-direction: row;
  }
}

.sidebar {
  display: none;
  flex-shrink: 0;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
}

@media (min-width: 960px) {
  .sidebar {
    display: block;
    max-width: 277px;
  }
}

.filters {
  padding: 0 25px 0px;
}

.content {
  max-width: 620px;
  width: 100%;
}

@media (min-width: 1280px) {
  .content {
    max-width: 930px;
  }
}

@media (min-width: 1600px) {
  .content {
    max-width: 1240px;
  }
}

.download-more {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.display-settings {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

@media (min-width: 1280px) {
  .display-settings {
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .display-settings {
    max-width: 1240px;
    flex-direction: row;
  }
}

.display-settings__left {
  display: flex;
  width: 100%;
}

.display-settings__right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bg-flicker {
  from {
    background: rgba(255, 255, 255, 0.6);
  }
  50% {
    background: rgba(255, 255, 255, 0.9);
  }
  100% {
    background: rgba(255, 255, 255, 0.6);
  }
}

.btn {
  display: block;
  background: #a52421;
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
  padding: 9px 15px;
  font-size: 11px;
  width: 100%;
  font-weight: 500;
  font-family: "GoogleSans";
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: #db302d;
}

@media (min-width: 650px) {
  .btn {
    font-size: 15px;
    padding: 13px 30px;
  }
}

.icon-btn {
  display: block;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(67, 67, 67, 0.15);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

@media (min-width: 650px) {
  .icon-btn {
    width: 40px;
    height: 40px;
  }
  .icon-btn:hover {
    box-shadow: 0px 0px 0px 0px rgba(67, 67, 67, 0.15);
    background-color: #f7f7f7;
  }
}

.icon-btn.eye {
  display: none;
  background-image: url("../../img/icon/eye.png");
}

@media (min-width: 1280px) {
  .icon-btn.eye {
    display: block;
  }
}

.icon-btn.heart {
  background-image: url("../../img/icon/heart.png");
}

.icon-btn.graph {
  display: none;
  background-image: url("../../img/icon/graph.png");
}

@media (min-width: 1280px) {
  .icon-btn.graph {
    display: block;
  }
}

.icon-btn.active {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 0px 0px rgba(67, 67, 67, 0.15);
}

.download-btn {
  position: relative;
  display: block;
  border-radius: 10px;
  border: 1px solid #272625;
  padding: 18px 45px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.download-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  display: block;
  opacity: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../img/other/Rolling2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s ease-in-out;
}

.download-btn:hover {
  background: #f7f7f7;
}

.download-btn.active {
  padding: 18px 30px 18px 60px;
}

.download-btn.active::before {
  opacity: 1;
}

.product-loader {
  position: absolute;
  top: 0;
  left: 0;
  margin: -1px 0 0 -1px;
  align-items: flex-start;
  display: flex;
  padding-top: 300px;
  justify-content: center;
  width: 100.2%;
  height: 100.2%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
  animation: bg-flicker 1.5s linear infinite;
}

.product-loader__message {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  display: block;
  padding-left: 40px;
}

.product-loader__message::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/other/Rolling2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s ease-in-out;
  animation: rotation 1s linear infinite;
}

.product-error {
  position: absolute;
  top: 0;
  left: 0;
  margin: -1px 0 0 -1px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100.2%;
  height: 100.2%;
  background: white;
  z-index: 100;
}

.product-error__content {
  max-width: 600px;
}

.product-error__icon {
  margin: 0 auto;
  height: 200px;
}

.product-error__message {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  display: block;
  padding-left: 40px;
}

.sticker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
}

@media (min-width: 650px) {
  .sticker {
    width: 40px;
    height: 40px;
  }
}

.sticker__pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sticker-brand {
  height: 28px;
  display: flex;
  align-items: center;
}

.sticker-sale {
  position: relative;
  display: inline-block;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  background: #fff;
  font-size: 10px;
  font-family: "SFPro";
  color: #a52421;
  font-weight: 700;
  padding: 3px 6px 3px 20px;
}

.sticker-sale::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  display: block;
  width: 8px;
  height: 10px;
  background-image: url("../../img/icon/fire.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 650px) {
  .sticker-sale {
    font-size: 12px;
    padding: 4px 8px 4px 25px;
  }
  .sticker-sale::before {
    width: 10px;
    height: 12px;
  }
}

.main-title {
  font-family: "SFPro";
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 650px) {
  .main-title {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .main-title {
    font-size: 36px;
  }
}

.search-result {
  padding: 25px;
}

.search-result.bd-bottom {
  border-bottom: 1px solid #f0f0f0;
}

.search-result.bd-top {
  border-top: 1px solid #f0f0f0;
}

.search-result__text {
  font-size: 16px;
  font-family: "SFPro";
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.search-result__btn {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #686868;
}

.кнопка {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1700px;
  height: 3873px;
  z-index: 11;
}

.Rounded_Rectangle_1 {
  border-style: solid;
  border-width: 1px;
  border-color: #686868;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 93px;
  top: 462px;
  width: 229px;
  height: 44px;
  z-index: 9;
}

.filter {
  border-bottom: 1px solid #f0f0f0;
}

.filter:last-child {
  border-bottom: none;
}

.filter-body {
  overflow: hidden;
}

.filter-body.close {
  height: 0;
}

.filter-head {
  position: relative;
  padding: 20px 28px 20px 0;
}

.filter-head__title {
  cursor: pointer;
  position: relative;
  display: inline;
  font-size: 16px;
  font-family: "SFPro";
  font-weight: bold;
}

.filter-head__count {
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  border-radius: 50%;
  background: #272625;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 12px;
}

.filter-head__count.reset {
  position: relative;
  background: #efefef;
}

.filter-head__count.reset::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-image: url("../../img/icon/close.png");
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  width: 10px;
  height: 10px;
}

.filter-head__count.info {
  background: #efefef;
  color: #adadad;
  font-weight: 700;
}

.filter-head__arrow {
  position: absolute;
  top: 20px;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter-head__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-image: url("../../img/icon/arrow-down-light.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  width: 12px;
  height: 12px;
}

.filter-head__arrow.open::before {
  background-image: url("../../img/icon/filter-arrow.png");
}

.filter__search {
  border: 1px solid #dedede;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
  font-family: "GoogleSans";
  font-weight: 500;
  color: #272625;
  padding: 14px 17px;
}

.filter__search::placeholder {
  font-family: "GoogleSans";
  color: #797878;
  font-weight: 500;
}

.filter-more {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #54524f;
  font-weight: 500;
  cursor: pointer;
  padding: 15px 0 30px;
}

.filter-more__count {
  color: #b3b3b3;
}

.filter-more__arrow {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.filter-more__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-image: url("../../img/icon/arrow-down-light.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: bottom;
  width: 10px;
  height: 10px;
}

.filter-list {
  padding: 12px 0;
  max-height: 340px;
  overflow: hidden;
}

.filter-list__item {
  padding: 4px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-option__checkbox {
  display: none;
}

.filter-option__checkbox:checked + .filter-option__fake {
  background: #dbdbdb;
}

.filter-option__checkbox:checked + .filter-option__fake::before {
  opacity: 1;
}

.filter-option {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.filter-option:hover .filter-option__fake {
  background: #dbdbdb;
}

.filter-option__fake {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 7px;
  background: #efefef;
  transition: 0.3s ease-in-out;
}

.filter-option__fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 12px;
  opacity: 0;
  background-image: url("../../img/icon/check.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.out-of-stock {
  opacity: 0.5;
}

.out-of-stock:hover .filter-option__fake {
  background: #efefef;
}

.filter-option__info {
  margin: 0;
}

.range {
  margin-bottom: 30px;
}

.range-inputs {
  display: flex;
  margin-bottom: 20px;
}

.range-input__min,
.range-input__max {
  width: 50%;
  border: 1px solid #dedede;
  outline: none;
  font-size: 15px;
  font-family: "GoogleSans";
  font-weight: 500;
  color: #272625;
  padding: 14px 17px;
}

.range-input__min::placeholder,
.range-input__max::placeholder {
  font-family: "GoogleSans";
  color: #797878;
  font-weight: 500;
}

.range-input__min {
  border-radius: 7px 0 0 7px;
  border-right: none;
}

.range-input__max {
  border-radius: 0 7px 7px 0;
}

.range-slider {
  margin-bottom: 20px;
}

.range-slider__bg {
  position: relative;
  background: #e5e5e5;
  height: 4px;
  width: 100%;
}

.range-slider__active {
  display: block;
  height: 4px;
  width: 100%;
  background: #db7876;
}

.range-slide {
  display: block;
  width: 12px;
  height: 18px;
  cursor: pointer;
  background-image: url("../../img/icon/range-slide.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.range-slide.min {
  position: absolute;
  top: 0;
  left: 0;
}

.range-slide.max {
  position: absolute;
  top: 0;
  right: 0;
}

.range-price {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #797878;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumbs .active {
  color: #797878;
}

@media (min-width: 650px) {
  .breadcrumbs {
    margin-bottom: 28px;
  }
}

.breadcrumbs-desc {
  display: none;
}

@media (min-width: 650px) {
  .breadcrumbs-desc {
    display: flex;
    align-items: center;
    gap: 18px;
  }
}

.breadcrumbs__arrow {
  display: inline-block;
  width: 6px;
  height: 9px;
  background-image: url("../../img/icon/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs-mobile {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (min-width: 650px) {
  .breadcrumbs-mobile {
    display: none;
  }
}

.breadcrumbs-mobile__arrow {
  display: block;
  width: 15px;
  height: 12px;
  background-image: url("../../img/icon/arrow-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

@media (min-width: 650px) {
  .category-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .category-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1600px) {
  .category-list {
    gap: 30px;
  }
}

.category-card {
  width: 100%;
  padding-bottom: 17px;
}

@media (min-width: 650px) {
  .category-card {
    max-width: 226px;
  }
}

.category-card__link {
  display: block;
}

.category-card__preveiw {
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #f7f7f7;
}

.category-card__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.category-card__title {
  font-weight: bold;
  line-height: 1.467;
  text-align: center;
  font-family: "SFPro";
  font-size: 11px;
}

@media (min-width: 650px) {
  .category-card__title {
    font-size: 13px;
  }
}

@media (min-width: 1600px) {
  .category-card__title {
    font-size: 15px;
  }
}

.product-list {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  margin-bottom: 50px;
}

@media (min-width: 1280px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  position: relative;
  padding: 15px;
  max-width: 310px;
  min-height: 327px;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  z-index: 1;
}

@media (min-width: 650px) {
  .product-card {
    padding: 30px 20px 45px 20px;
  }
}

@media (min-width: 1280px) {
  .product-card:hover {
    z-index: 100;
  }
  .product-card:hover .product-card__brand {
    opacity: 0;
  }
  .product-card:hover .product-card__icon-btns {
    opacity: 1;
  }
  .product-card:hover .product-card__bg {
    transform: scale(1.05);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04), 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
    opacity: 1;
    visibility: visible;
  }
  .product-card:hover.product-card__inner {
    position: relative;
  }
  .product-card:hover .product-card__dots {
    opacity: 1;
  }
}

.product-card__bg {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.product-card__property {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 20px 20px 30px;
  transform: translateY(90%);
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04), 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
}

.product-card__inner {
  position: relative;
}

.product-card__preveiw {
  margin: 0 auto 18px;
  max-width: 210px;
  height: 210px;
  width: 100%;
}

.product-card__slider {
  width: 100%;
  height: 100%;
}

.product-card__pic {
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card__pic.active {
  display: block;
}

.product-card__dots {
  display: flex;
  justify-content: center;
  gap: 4px;
  height: 2px;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.product-card__dot {
  display: block;
  flex-grow: 1;
  background-color: #f0f0f0;
  height: 2px;
}

.product-card__dot.active {
  background-color: #a52421;
}

.product-card__title {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 15px;
}

@media (min-width: 650px) {
  .product-card__title {
    font-size: 15px;
  }
}

.product-card__link {
  display: block;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-card__price {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

@media (min-width: 650px) {
  .product-card__price {
    margin-bottom: 26px;
    height: 50px;
  }
}

.product-card__price-old {
  font-size: 12px;
  color: #797877;
  text-decoration: line-through;
}

@media (min-width: 650px) {
  .product-card__price-old {
    font-size: 17px;
  }
}

.product-card__price-new {
  font-size: 15px;
  font-family: "SFPro";
  margin-top: auto;
  font-weight: 700;
}

@media (min-width: 650px) {
  .product-card__price-new {
    font-size: 24px;
  }
}

.product-card__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  gap: 14px;
}

@media (min-width: 650px) {
  .product-card__nav {
    flex-direction: row;
  }
}

.product-card__more {
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.product-card__more:hover {
  color: #797877;
}

.product-card__brand {
  position: absolute;
  display: none;
  top: 16px;
  right: 18px;
  opacity: 1;
  transition: 0.2s;
  z-index: 1;
}

@media (min-width: 650px) {
  .product-card__brand {
    display: block;
  }
}

.product-card__stickers {
  display: grid;
  gap: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

@media (min-width: 650px) {
  .product-card__stickers {
    top: 16px;
    left: 18px;
  }
}

.product-card__icon-btns {
  display: grid;
  gap: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.2s;
  z-index: 1;
}

@media (min-width: 650px) {
  .product-card__icon-btns {
    top: 40px;
    right: 18px;
  }
}

@media (min-width: 1280px) {
  .product-card__icon-btns {
    top: 16px;
    right: 18px;
    opacity: 0;
  }
}

.display-type {
  display: none;
  gap: 5px;
}

@media (min-width: 650px) {
  .display-type {
    display: flex;
  }
}

.display__item {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.display__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 20px;
  width: 20px;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.display__item.tile::before {
  background-image: url("../../img/icon/display3.png");
}

.display__item.mixed::before {
  background-image: url("../../img/icon/display2.png");
}

.display__item.list::before {
  background-image: url("../../img/icon/display1.png");
}

.display__item.active {
  background: #f5f5f5;
}

.display__item.active::before {
  opacity: 1;
}

.display__item:hover {
  background: #f5f5f5;
}

.display__item:hover::before {
  opacity: 1;
}

.display-sort {
  display: flex;
  width: 100%;
  gap: 30px;
}

@media (min-width: 650px) {
  .display-sort {
    margin-right: 30px;
  }
}

.display-sort__item {
  position: relative;
  width: 100%;
  display: none;
  font-size: 15px;
  font-weight: 500;
  user-select: none;
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

@media (min-width: 650px) {
  .display-sort__item {
    border: none;
    display: flex;
    width: auto;
  }
}

.display-sort__item.mobile {
  display: flex;
}

.display-sort__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (min-width: 650px) {
  .display-sort__head {
    width: auto;
  }
}

.display-sort__value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 650px) {
  .display-sort__value {
    max-width: 91px;
  }
}

.display-sort__icon {
  display: none;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.display-sort__icon.sort {
  background-image: url("../../img/icon/wifi.png");
}

@media (min-width: 650px) {
  .display-sort__icon {
    display: block;
  }
}

.display-sort__label {
  color: #797878;
  display: none;
}

@media (min-width: 650px) {
  .display-sort__label {
    display: block;
  }
}

.display-sort__arrow {
  display: block;
  width: 12px;
  height: 14px;
  background-image: url("../../img/icon/down-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.display-sort__arrow.up {
  transform: rotate(180deg);
}

.display-sort__popup {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: translate(0, 100%);
  z-index: 200;
}

.display-sort__popup.open {
  display: block;
}

@media (min-width: 650px) {
  .display-sort__popup {
    width: auto;
    transform: translate(50%, 100%);
    padding-top: 10px;
  }
}

.display-sort-list {
  background: #f7f7f7;
  padding: 13px 8px;
}

@media (min-width: 650px) {
  .display-sort-list {
    border-radius: 10px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04), 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #f1f1f1;
    background: #ffffff;
  }
}

.display-sort-list__value {
  display: block;
  border-radius: 6px;
  transition: 0.3s ease-in;
  padding: 10px 35px 10px 10px;
  font-weight: 500;
  font-size: 12px;
}

.display-sort-list__value:hover {
  background-color: #f7f7f7;
}

@media (min-width: 650px) {
  .display-sort-list__value {
    padding: 11px 35px;
    font-size: 15px;
    width: auto;
  }
}

.display-sort-list__radio {
  display: none;
}

.display-sort-list__radio:checked + .display-sort-list__value {
  position: relative;
}

.display-sort-list__radio:checked + .display-sort-list__value::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../../img/icon/check.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 650px) {
  .display-sort-list__radio:checked + .display-sort-list__value::before {
    right: auto;
    left: 13px;
    width: 15px;
    height: 16px;
  }
}

.display-filters {
  display: none;
  align-items: center;
  gap: 15px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  font-family: "SFPro";
  justify-content: space-between;
}

@media (min-width: 650px) {
  .display-filters {
    display: flex;
  }
}

.display-filters__selected {
  display: flex;
  gap: 15px;
}

.display-filter__active {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid #686868;
  border-radius: 7px;
  padding: 7px 40px 7px 14px;
}

.display-filter__value {
  color: #797878;
}

.display-filter__remove {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("../../img/icon/close.png");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

.display-filters__reset {
  position: relative;
  background: #f7f7f7;
  display: block;
  padding: 7px 14px 7px 35px;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.display-filters__reset::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("../../img/icon/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.display-filters__reset:hover {
  background: #dfdfdf;
}

.property {
  width: 100%;
  background: #fff;
}

.property__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 13px;
  gap: 4px;
  margin-bottom: 7px;
}

.property__label {
  color: #797878;
}

.property__dots {
  flex-grow: 1;
  font-size: 14px;
  height: 1px;
  transform: translateY(-4px);
  background-image: url("../../img/other/dots.png");
}

.pagination {
  display: none;
  margin-top: 25px;
}

.pagination__list {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "SFPro";
  color: #b3b3b3;
  font-weight: 600;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.pagination__link.active {
  background: #f5f5f5;
  color: #272625;
}

.pagination__link:hover {
  background: #f5f5f5;
  color: #272625;
}

.pagination__link:hover.fake {
  background: #fff;
  color: #b3b3b3;
}

.quick-view {
  position: fixed;
  display: none;
  overflow: auto;
  padding: 100px 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.quick-view.open {
  display: none;
}

@media (min-width: 1280px) {
  .quick-view.open {
    display: grid;
  }
}

.quick-view__main {
  min-height: 400px;
}

.quick-view__inner {
  position: relative;
  border-radius: 12px;
  background: #fff;
  padding: 35px 35px 35px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.quick-view__coll {
  position: relative;
}

.quick-view__stickers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.quick-view__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("../../img/icon/close-modal.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1000;
  cursor: pointer;
}

.quick-view__content {
  display: flex;
  gap: 40px;
  padding: 40px 0;
}

.quick-view__coll {
  width: 50%;
}

.quick-view__title {
  font-size: 36px;
  font-family: "SFPro";
  color: #272625;
  margin-bottom: 40px;
}

.quick-view__price-tag {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 15px;
}

.quick-view__brand {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.quick-view__price {
  margin-bottom: 20px;
}

.quick-view__price-old {
  font-size: 17px;
  color: #797877;
  text-decoration: line-through;
}

.quick-view__price-new {
  font-size: 30px;
  color: #272625;
}

.quick-view-sale {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  padding-left: 23px;
  margin-bottom: 23px;
}

.quick-view-sale::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 14px;
  height: 15px;
  background-image: url("../../img/icon/fire.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quick-view-sale__value {
  color: #a52421;
}

.quick-view__btn {
  max-width: 230px;
  margin-bottom: 23px;
}

.quick-view-actions {
  display: flex;
  gap: 20px;
  font-size: 13px;
  font-weight: 400;
}

.quick-view-actions__item {
  position: relative;
  padding: 4px 0 4px 25px;
}

.quick-view-actions__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quick-view-actions__item.heart::before {
  background-image: url("../../img/icon/heart1.png");
}

.quick-view-actions__item.graph::before {
  background-image: url("../../img/icon/graph.png");
}

.quick-view__bottom {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid #f1f1f1;
}

.quick-view__product-title {
  font-size: 24px;
  font-family: "SFPro";
  font-weight: 600;
}

.quick-view__desc {
  font-size: 13px;
  padding: 20px 0 40px;
}

.quick-view__more {
  width: 230px;
}

.quick-view-slider__slides {
  margin-bottom: 20px;
}

.quick-view-slider__slide {
  display: none;
  width: 320px;
  height: 320px;
}

.quick-view-slider__slide.active {
  display: block;
}

.quick-view-slider__pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.quick-view-slider__dots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.quick-view-slider__dot {
  border-radius: 8px;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.quick-view-slider__dot.active {
  border: 1px solid #272625;
}

.Rectangle_2260_copy_5 {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04), 0px 8px 12px 0px rgba(0, 0, 0, 0.02);
  position: absolute;
  left: 778px;
  top: 891px;
  z-index: 741;
}
/*# sourceMappingURL=style.css.map */