@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans/GoogleSansBold.ttf") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans/GoogleSansMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans/GoogleSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPro/SFProDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Mont-HeavyItalic.woff") format("woff");
  font-style: italic;
  font-weight: 900;
}
