.category-card {
  max-width: 226px;
  width: 100%;
  padding-bottom: 17px;
}

.category-card__preveiw {
  max-width: 225px;
  max-height: 160px;
  width: 100%;
  margin-bottom: 20px;
}

.category-card__title {
  font-weight: bold;
  line-height: 1.467;
  text-align: center;
  font-family: "SFPro";
  font-size: 15px;
}
