.product-card {
  position: relative;
  padding: 15px;
  max-width: 310px;
  min-height: 327px;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  z-index: 1;

  @media (min-width: 650px) {
    padding: 30px 20px 45px 20px;
  }

  @media (min-width: 1280px) {
    &:hover {
      z-index: 100;
      & .product-card__brand {
        opacity: 0;
      }
      & .product-card__icon-btns {
        opacity: 1;
      }
      & .product-card__bg {
        transform: scale(1.05);
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04),
          0px 8px 12px 0px rgba(0, 0, 0, 0.05);
        opacity: 1;
        visibility: visible;
      }
      &.product-card__inner {
        position: relative;
      }

      & .product-card__dots {
        opacity: 1;
      }
    }
  }
}

.product-card__bg {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  //transition: opacity 0.2s, visibility 0s ease 0.2s;
  transition: 0.2s ease-in-out;
}

.product-card__inner {
  position: relative;
}
.product-card__preveiw {
  margin: 0 auto 18px;
  max-width: 210px;
  height: 210px;
  width: 100%;
  //height: 100%;
}

.product-card__slider {
  width: 100%;
  height: 100%;
}

.product-card__pic {
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  &.active {
    display: block;
  }
}

.product-card__dots {
  display: flex;
  justify-content: center;
  gap: 4px;
  height: 2px;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.product-card__dot {
  display: block;
  flex-grow: 1;
  background-color: #f0f0f0;

  height: 2px;
  &.active {
    background-color: #a52421;
  }
}

.product-card__title {
  font-size: 11px;
  //line-height: 1.467;
  font-weight: 500;
  margin-bottom: 15px;
  //min-height: 55px;
  //margin-bottom: 5px;
  @media (min-width: 650px) {
    font-size: 15px;
  }
}

.product-card__link {
  display: block;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-card__price {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  @media (min-width: 650px) {
    margin-bottom: 26px;
    height: 50px;
  }
}

.product-card__price-old {
  font-size: 12px;
  color: #797877;
  text-decoration: line-through;
  @media (min-width: 650px) {
    font-size: 17px;
  }
}

.product-card__price-new {
  font-size: 15px;
  font-family: "SFPro";
  margin-top: auto;
  font-weight: 700;
  @media (min-width: 650px) {
    font-size: 24px;
  }
}

.product-card__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  gap: 14px;

  @media (min-width: 650px) {
    flex-direction: row;
  }
}

.product-card__more {
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  &:hover {
    color: #797877;
  }
}

.product-card__brand {
  position: absolute;
  display: none;
  top: 16px;
  right: 18px;
  opacity: 1;
  transition: 0.2s;
  z-index: 1;
  @media (min-width: 650px) {
    display: block;
  }
}

.product-card__stickers {
  display: grid;
  gap: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  @media (min-width: 650px) {
    top: 16px;
    left: 18px;
  }
}

.product-card__icon-btns {
  display: grid;
  gap: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.2s;
  z-index: 1;
  @media (min-width: 650px) {
    top: 40px;
    right: 18px;
  }
  @media (min-width: 1280px) {
    top: 16px;
    right: 18px;
    opacity: 0;
  }
}
