.property {
  width: 100%;
  background: #fff;
}

.property__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 13px;
  gap: 4px;
  margin-bottom: 7px;
}
.property__label {
  color: #797878;
}

.property__dots {
  flex-grow: 1;
  font-size: 14px;
  height: 1px;
  transform: translateY(-4px);
  background-image: url("../../img/other/dots.png");
}
